---
layout: default
title: Arkham Cards
icon: fa-pencil-alt
order: 4
---
{%- include header.html scrolly_nav=_posts -%}

<div id="main">
    <ul>
    {% for card in site.data.arkham_cards %}
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ card.name }}" aria-expanded="false" aria-controls="{{ card.name }}">
            {{ card.name }}
        </button>
    </p>
    {% endfor %}
    {% for card in site.data.arkham_cards %}
    <div class="collapse" id="{{ card.name }}">
        <div class="card card-body">
          {{ card.content }}
        </div>
      </div>
    {% endfor %}
    </ul>
</div>