---
title: Arkham Horror LCC
author: Maxim Rybas
layout: post
icon: fa-squid
icon-style: regular
---


<h4>Список и количество карт в наборах карточного "Ужаса Аркхэма"</h1>

<style>
    .collapsible {
        background-color: rgb(128, 101, 250);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    
    .active, .collapsible:hover {
        background-color: rgb(182, 0, 182);
    }
    
    .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    }
</style>

{% for set in site.data.ah_cards %}
<button type="button" class="collapsible">{{ set.name }}</button>
<div class="content">
    <table>
        <tr style="font-size: 12pt;">
            <th>Имя</th>
            <th>Колич.</th>
            <th>Опыт</th>
            <th>Класс</th>
            <th>Тип</th>
            <th>Подтип</th>
            <th>Набор</th>
        </tr>
        {% for card in set.cards %}
        <tr>
            <td>{{card.name}}</td>
            <td>{{card.quantity}}</td>
            <td>{{card.xp}}</td>
            <td>{{card.faction_name}}</td>
            <td>{{card.type_name}}</td>
            <td>{{card.subtype_name}}</td>
            <td>{{card.encounter_name}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>